<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="student_base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

</head>

<body>
	<section class="text-center">
		<div class="container p-4">
			<div class="card mt-3">
				<div class="card-body">
					<h1>Student Profile </h1>
					<!--<img src="/Images/s2.png" style="height: 200px;" class="my_profile_picture" alt="profile photo" />

					<h1 class="text-center" th:text="${stpinfo.name}"></h1>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Student ID</th>
								<td scope="col">Student <span th:text="${stpinfo.s_id}"></span></td>
							</tr>
						</thead>
						<tbody>

							<tr>
								<th scope="row">Enrollment Number</th>
								<td><span th:text="${stpinfo.enrollment_no}"></span></td>
							</tr>

							<tr>
								<th scope="row">Roll Number</th>
								<td><span th:text="${stpinfo.roll_no}"></span></td>
							</tr>

							<tr>
								<th scope="row">Name</th>
								<td><span th:text="${stpinfo.name}"></span></td>
							</tr>

							<tr>
								<th scope="row">Father's Name</th>
								<td><span th:text="${stpinfo.fatherName}"></span></td>
							</tr>

							<tr>
								<th scope="row">Mother's Name</th>
								<td><span th:text="${stpinfo.motherName}"></span></td>
							</tr>

							<tr>
								<th scope="row">Date of Birth</th>
								<td><span th:text="${stpinfo.dob}"></span></td>
							</tr>

							<tr>
								<th scope="row">Gender</th>
								<td><span th:text="${stpinfo.gender}"></span></td>
							</tr>

							<tr>
								<th scope="row">Email Address</th>
								<td><span th:text="${stpinfo.email}"></span></td>
							</tr>

							<tr>
								<th scope="row">Contact Number 1</th>
								<td><span th:text="${stpinfo.contact_no_1}"></span></td>
							</tr>

							<tr>
								<th scope="row">Contact Number 2</th>
								<td><span th:text="${stpinfo.contact_no_2}"></span></td>
							</tr>

							<tr>
								<th scope="row">Address</th>
								<td><span th:text="${stpinfo.address}"></span></td>
							</tr>

							<tr>
								<th scope="row">District</th>
								<td><span th:text="${stpinfo.district}"></span></td>
							</tr>

							<tr>
								<th scope="row">State</th>
								<td><span th:text="${stpinfo.state}"></span></td>
							</tr>

							<tr>
								<th scope="row">Pin Code</th>
								<td><span th:text="${stpinfo.pincode}"></span></td>
							</tr>

							<tr>
								<th scope="row">Aadhaar Number</th>
								<td><span th:text="${stpinfo.aadhaar_no}"></span></td>
							</tr>

							<tr>
								<th scope="row">PAN</th>
								<td><span th:text="${stpinfo.pan_no}"></span></td>
							</tr>

							<tr>
								<th scope="row">religion</th>
								<td><span th:text="${stpinfo.religion}"></span></td>
							</tr>

							<tr>
								<th scope="row">Category</th>
								<td><span th:text="${stpinfo.category}"></span></td>
							</tr>

							<tr>
								<th scope="row">Admission Year</th>
								<td><span th:text="${stpinfo.admission_year}"></span></td>
							</tr>

							<tr>
								<th scope="row">Admission Type</th>
								<td><span th:text="${stpinfo.admission_type}"></span></td>
							</tr>

							<tr>
								<th scope="row">Department</th>
								<td><span th:text="${stpinfo.department}"></span></td>
							</tr>

							<tr>
								<th scope="row">Course</th>
								<td><span th:text="${stpinfo.course}"></span></td>
							</tr>

							<tr>
								<th scope="row">Branch</th>
								<td><span th:text="${stpinfo.branch}"></span></td>
							</tr>


						</tbody>

					</table>
-->
				</div>

			</div>
		</div>


	</section>
</body>

</html>