<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{student_base2::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

</head>

<body>
	<section class="text-center">
		<br>
		<div class="text-center">
			<h1>Student Dashboard</h1>
		</div>
		<br>
			<div class="row row-cols-1 row-cols-md-3 col-md-11 offset-md-0">
			
			<div class="col mb-4">
				<div class="card" style="box-shadow:10px 5px 5px dodgerblue;">
					<div class="card-body">
						<h5 class="card-title text-center">
							<li class="fas fa-user-tie fa-2x"></li> Registered Students
						</h5>
						<h3 class="text-center" th:text="${totalCount1}"></h3>
					</div>
				</div>
			</div>
			
			<div class="col mb-4">
				<div class="card" style="box-shadow:10px 5px 5px dodgerblue;">
					<div class="card-body">
						<h5 class="card-title text-center">
							<li class="fas fa-user-tie fa-2x"></li> SignUped Students
						</h5>
						<h3 class="text-center" th:text="${totalCount2}"></h3>
					</div>
				</div>
			</div>


			<div class="col mb-4">
				<div class="card" style="box-shadow:10px 5px 5px dodgerblue;">
					<div class="card-body">
						<h5 class="card-title text-center">
							<li class="fas fa-pen-to-square fa-2x"></li> Updated Students
						</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural.</p>
					</div>
				</div>
			</div>
			
			<div class="col mb-4">
				<div class="card" style="box-shadow:10px 5px 5px dodgerblue;">
					<div class="card-body">
						<h5 class="card-title text-center">
							<li class="fas fa-trash fa-2x"></li> Deleted Students
						</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural.</p>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>