<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin_base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<section class="text-center">
   <!-- <h1>User profile page</h1>
    <h4>Name: [[${user.name}]]</h4>
    <h4>Email: [[${user.email}]]</h4>
    <h4>About: [[${user.about}]]</h4>
    <h4>Role: [[${user.role}]]</h4>-->
    
    <div class="container">
		<div class="card">
			<div class="card-body">
				<td>
                    <img th:src="@{'/admin/view_users/' + ${user.id}}" alt="User Image" width="80" height="100">
                </td>
				<h1 class="text-center" th:text="${user.name}"></h1>
				<table class="table">
			<thead>
				<tr>
					<th scope="col">USER ID</th>
					<td scope="col">USER <span th:text="${user.id}"></span></td>
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<th scope="row">Email</th>
					<td><span th:text="${user.email}"></span></td>
				</tr>
				
				<tr>
					<th scope="row">About</th>
					<td><span th:text="${user.about}"></span></td>
				</tr>
				
				<tr>
					<th scope="row">Role</th>
					<td><span th:text="${user.role}"></span></td>
				</tr>
				
				<tr>
					<th scope="row">Account Active</th>
					<td><span>Enabled</span></td>
				</tr>
				
				
				
			</tbody>
			
		</table>
		
				
			</div>
			
		</div>
	</div>
   
</section>
</body>
</html>