<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="main_base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<section>

		<section class="banner d-flex justify-content-center align-items-center">
			<div class="text-center">
				<img th:src="@{/Images/sbht3.png}" alt="/" />
				<h1 class="font-weight-bold">Smart Admission Management System</h1>
				<p class="font-weight-bold">Start Collecting your student's data in very smarter way. We provide very
					efficient and smarter way of
					handling data</p>
				<div class="card-group">
					<div class="card " style="margin-left: 34px; height: 360px;">
						<img th:src="@{/Images/sug.jpeg}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title" style="color: rgb(0, 0, 0);"> Goals and Objectives</h5>
							<h6 style="color: blue;">
								The goal of Smart Admission Management System is to automate the Academic Institute's admission structure and its related operations and functionality.
							</h6>

						</div>
					</div>
					<div class="card " style="margin-left: 14px;  height: 360px;">
						<img th:src="@{/Images/sug1.jpeg}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title" style="color: rgb(0, 0, 0);"> provided Features
							</h5>
							<h6 style="color: blue;">
								Smart Admission Management System save time and improve communication, efficiency and productivity. 
								It streamline the whole process of admission.
							</h6>
						</div>
					</div>
					<div class="card" style="margin-left: 14px; margin-right: 34px;  height: 360px;">
						<img th:src="@{/Images/sug2.jpeg}" class="card-img-top" alt="...">
						<div class="card-body">

							<h5 class="card-title" style="color: rgb(0, 0, 0);"> Make Enrollment Process Seamless
							</h5>
							<h6 style="color: blue;">
								Smart Admission Management System is a digital solution to manage student enrollments in collages, universities, and training institutions.
								It helps educational institutions make the enrollment process seamless.
							</h6>

						</div>
					</div>
				</div>

			</div>

		</section>

	</section>

</body>

</html>