<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<title th:text="${title}"></title>
</head>


<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><i class="fa-solid fa-user-graduate"></i> Smart Admission Management
				System</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house-user"></i>
						Home</a>

				</ul>

				<form class="form-inline my-2 my-lg-0">

					<th:block>
						<div class="container">
							<!--<a href="" class="btn btn-danger ml-3"><i class="fa-solid fa-user"></i>
								User Portal</a>-->

							<a href="user_signin" class="btn btn-success"><i class="fa-solid fa-user"></i>
								Login</a>

							<a href="register" class="btn btn-danger ml-3"><i class="fa-solid fa-users"></i>
								Signup</a>

						</div>
					</th:block>
				</form>
			</div>
	</nav>

	<div th:replace="${content}"></div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script th:src="@{/static/JS/script.js}"></script>
</body>

</html>