<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
               th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<section>
		
		<div class="container">
		<div class="row">
			<div class="col-md-7 offset-md-2">
				<div class="card mt-3">
					
					<div class="card-body">
						<div th:if=${session.msg}>
								<div class="alert alert-success text-center" role="alert" th:text="${session.msg}">

								</div>
							</div>
						
						<h4 class="text-center text-primary"><i class="fa-solid fa-lock"></i> Change Password</h4>
						<form th:action="@{/changePassword}" method="post" >
							
							<div class="form-group mt-3">
								<label>New Password</label> <input type="password" placeholder="enter new password" class="form-control" name="newPassword">
							</div>
							
							<div class="container text-center mt-4">
							
								<button type="submit" class="btn bg-primary btn-block text-white">Change Password</button>
								
							</div>
							
						</form>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
    
	</section>

</body>
</html>