<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password page</title>
</head>
<body>
	<section>
	
    <div class="container p-4">
		<div class="row">
			<div class="col-md-7 offset-md-3">
				<div class="card mt-3">
					<div class="card-body">
						<h4 class="text-center text-primary"><i class="fa-solid fa-lock"></i> Forgot Password</h4>
						
						<form th:action="@{/sendOTP}" method="post">
							
							<div class="form-group">
								<label>Email Address</label> <input type="email" placeholder="enter email address" class="form-control" id="email" name="email">
							</div>
							
							<div class="container text-center mt-4">
							
								<button type="submit" class="btn btn-warning btn-block text-white">Send OTP</button>
							</div>
							
							 <div id="register-link" class="text-right">
                                <a href="register" class="text-info">Register here</a>
                            </div>
							
						</form>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
	</section>


</body>
</html>