<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>index page</title>
</head>

<body>
	<section>

		<section class="banner d-flex justify-content-center align-items-center">
			<div class="text-center">
			
				<h1 class="font-weight-bold">Student Management System</h1>
				
				<p>Start Collecting your student's data in very smarter way. We provide very efficient and smarter way of
					handling data</p>
				<button class="btn btn-primary btn-lg">Get Start</button>
				
				
			</div>
		</section>

	</section>
</body>

</html>