<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base_student_login::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>signup page</title>
</head>

<body>
	<section >
		<!--Form-->

		<div class="container p-4">
			<div class="row">
				<div class="col-md-7 offset-md-3">
					<div class="card mt-3">

						<th:block thLif="${session.msg}">
							<p class="text-center text-success fs-4">[[${session.msg}]]</p>

							<th:block th:text="${@userServiceImp.removeSessionMessage()}"></th:block>
						</th:block>

						<div class="card-body">

							<div class="container text-center">
								<img style="width: 80px;" src="" th:src="@{/Images/signup.png}" />
							</div>

							<h4 class="text-center text-primary">SignUp Student !</h4>
							<form action="saveStudent" method="post">

								<div class="form-group">
									<label>Enter Full Name</label> <input  type="text"
										placeholder="student name" class="form-control" name="name" required>
								</div>

								<div class="form-group mt-3">
									<label>Enter Contact Number</label> <input 
									oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										type="number" maxlength="10" class="form-control" placeholder="contact number" name="phoneno" required>
								</div>

								<div class="form-group mt-3">
									<label>Enter Email Address</label> <input type="text" placeholder="student email"
										class="form-control" name="email" required>
								</div>

								<div class="form-group mt-3">
									<label>Enter Password</label> <input type="text" placeholder="password"
										class="form-control" name="password" required>
								</div>


								<div class="container text-center mt-4">

									<button type="submit" class="btn bg-primary btn-block text-white">Submit</button>

									<button type="reset" class="btn btn-warning btn-block text-white">Reset</button>
								</div>

							</form>
						</div>

					</div>

				</div>

			</div>
		</div>


		<!--Form-->
	</section>

</body>

</html>