<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sign-up-style.css">
</head>
<body>
    <div class="wrapper">
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <label for="login" class="slide login">Login</label>
            <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
            <form action="#" class="login">
              <div class="field">
                <input type="number" placeholder="Mobile Number" required>
              </div>
              <div class="field">
                <input type="password" placeholder="Password" required>
              </div>
              
              <div class="pass-link"><a href="#">Forgot password?</a></div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Login">
              </div>
            </form>
            
          </div>
        </div>
      </div>
      <script src="sign-up.js"></script>
</body>
</html>